@media screen and (min-width: 769px) {
  .mobile-layout {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop-layout {
    display: none;
  }
}

/* About */

.about__hero {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__hero-text {
  padding: 3rem 2rem;
  text-align: justify;
}

.img-container img {
  width: 100vw;
}

.social-links ul {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.social-links ul li {
  margin: 1rem;
}

/* About - media queries */

@media screen and (min-width: 1024px) {
  .about__hero {
    width: 1250px;
    margin: 0 auto;
  }

  .img-container img {
    width: 500px;
  }

  .about__hero-text {
    padding: 0;
    width: 700px;
  }
}
