.p-indent {
  text-indent: 14px;
}

/* Blog */

.main-container {
  width: 100%;
}

.hero {
  height: 400px;
  background-image: url("/nasa-Q1p7bh3SHj8-unsplash (1).jpg");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  padding: 2rem;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: 340px;
  background-color: #fff;
}

.highlighted_blog {
  display: flex;
}

.highlighted_blog .blog_image {
  width: 100%;
  height: 22rem;
}

.highlighted_blog .info {
  padding-top: 4rem;
  padding-left: 2rem;
  width: 35%;
}

.highlighted_blog a {
  width: 65%;
}

.highlighted_blog .info h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0.7rem;
}

.highlighted_blog .info p {
  font-size: 1.1rem;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 23rem;
  width: 80%;
  padding: 2rem;
}

.divider {
  width: 100%;
  margin-bottom: 4rem;
  color: #dcdcdc;
}

.blog a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #51c4e9;
}

.blog {
  margin-bottom: 3rem;
}

.blog_image {
  width: 100%;
  height: 12rem;
  background-color: #dcdcdc;
  background-image: url("/doge.png");
  background-size: cover;
  margin-bottom: 1rem;
  border-radius: 5px;
}

a h4 {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #51c4e9;
}

.blog_title {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 500;
  color: #15171a;
}

.blog_title a {
  color: black;
}

.blog_resume {
  color: gray;
}

.blog_tile_1 {
  background-image: url("/Blog_1_Escrow.jpg");
}

.blog_tile_2 {
  background-image: url("/Blog_2_Lostphone.jpg");
}

.blog h4 {
  margin-bottom: 0.7rem;
}

/* Blog - media queries */

@media screen and (max-width: 720px) {
  .hero {
    height: 400px;
  }

  .hero-overlay {
    width: 95%;
  }

  .highlighted_blog {
    flex-direction: column;
  }

  .highlighted_blog a {
    width: 100%;
  }

  .highlighted_blog .blog_image {
    height: 10rem;
    width: 100%;
  }

  .highlighted_blog .info {
    padding: 1rem;
    width: 100%;
    padding: 0;
  }

  .divider {
    display: none;
  }

  .highlighted_blog .info h4 {
    font-size: 1.3rem;
  }

  .blogs {
    margin-top: 28rem;
    width: 95%;
    padding: 0.8rem;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .hero-overlay {
    width: 95%;
  }

  .blogs {
    width: 95%;
  }

  .highlighted_blog {
    margin-bottom: 2rem;
  }

  .highlighted_blog .info {
    padding: 0;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .blogs > a {
    margin-bottom: 5rem;
    width: 45%;
  }

  .divider {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .blogs > a {
    width: 31%;
  }
}

/* Blog-Escrow */

.escrow-container {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  word-spacing: 0.3rem;
  width: 60%;
  margin: 0 auto;
}

.blog-info .authors {
  display: flex;
  justify-content: space-between;
  width: 35rem;
  margin-top: 1.5rem;
}

.blog-info hr {
  margin-top: 3rem;
}

.authors .author {
  width: 15rem;
  background-color: gainsboro;
  border-radius: 35px;
  padding: 0.5rem;
  display: flex;
}

.author p {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
}

.author-image {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.author-nico .author-image {
  background-image: url("/nico.jpg");
}

.author-bhavesh .author-image {
  background-image: url("/bhavesh.jpg");
}

.blog-info .time-info {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.blog-cover {
  width: 100%;
  height: 15rem;
  background-image: url("/Blog_1_Escrow.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
}

.escrow-container h1,
h2 {
  font-weight: 500;
}

.escrow-header {
  margin-bottom: 4rem;
}

.blog__section {
  margin-bottom: 3rem;
}

.blog__section h2 {
  margin-bottom: 1rem;
}

.blog__section strong {
  font-weight: 600;
}

.blog__section p {
  margin-bottom: 1rem;
}

.blog__list {
  margin-top: 1rem;
}

.blog__list li {
  margin: 0.6rem 0 0.6rem 2rem;
  list-style-type: decimal;
}

.blog_link {
  margin-left: 0.3rem;
  color: #4fc2e9;
}

.no_left_margin {
  margin-left: 0rem;
}

/* Blog-Escrow-Media-queries */

@media screen and (max-width: 1024px) {
  .escrow-container {
    width: 85%;
    word-spacing: -0.08rem;
    font-weight: 200;
    line-height: 26px;
    font-size: 18px;
  }

  .escrow-container h1,
  h2 {
    font-size: 20px;
    font-weight: 500;
  }

  .escrow-container h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .blog__section strong {
    font-weight: 500;
  }

  .escrow-header {
    margin-bottom: 2.5rem;
  }
}

/* Blog - Recover phone */

.recover_phone_container {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  word-spacing: 0.3rem;
  width: 60%;
  margin: 0 auto;
}

.recover_phone_container .blog-info {
  line-height: 1;
  margin-bottom: 0.5rem;
}

.recover_phone_container .blog-cover {
  background-image: url("/Blog_2_Lostphone.jpg");
}

.recover_phone_container h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.recover_phone_container li {
  list-style-type: decimal;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.recover_phone_container h1 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.recover_phone_container h2 {
  font-size: 1.8rem;
  margin: 2rem 0 1rem 0;
}

.recover_phone_container h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.recover_phone_container p {
  margin-bottom: 0.8rem;
}

.recover_phone_container .blog-info p {
  margin-bottom: 0.5rem;
}

.recover_phone_container .blog-info .last-para {
  margin-bottom: 0.1rem;
}

.recover_phone_container .hero-section {
  margin-bottom: 2rem;
}

.recover_phone_container .section-1 h2 {
  margin-bottom: 1.4rem;
}

.recover_phone_container .section-1 h3 {
  margin-bottom: 0.8rem;
}

.section-2 h3 {
  font-weight: 600;
}

.section-4 h3 {
  margin: 3rem 0 1.5rem 0;
}

.section-3 li {
  font-size: 1.5rem;
  font-weight: 500;
}

.section-3 li p {
  font-size: 1.2rem;
  font-weight: 400;
}

.section-4 h4 {
  font-size: 1.3rem;
  margin-bottom: 0.9rem;
}

/* Blog - Recover phone - Media-queries */

@media screen and (max-width: 1024px) {
  .recover_phone_container {
    width: 85%;
    word-spacing: -0.08rem;
    font-weight: 200;
    line-height: 26px;
    font-size: 18px;
  }
  .recover_phone_container li {
    margin: 0.6rem 0 0.6rem 2rem;
  }

  .recover_phone_container h1 {
    font-size: 1.8rem;
  }

  .recover_phone_container h2 {
    font-size: 1.6rem;
  }

  .recover_phone_container h3 {
    font-size: 1.4rem;
  }

  .recover_phone_container h4 {
    font-size: 1.2rem;
  }
}

/* About */

.about__hero {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__hero-text {
  padding: 3rem 2rem;
  text-align: justify;
}

.img-container img {
  width: 100vw;
}

.social-links ul {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.social-links ul li {
  margin: 1rem;
}

.about__hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "about__img-container"
    "about__hero-text"
    "about__social-links";
}

.about__img-container {
  width: 100vw;
  grid-area: about__img-container;
}

.about__hero-text {
  grid-area: about__hero-text;
}

.about__social-links {
  grid-area: about__social-links;
  width: 100vw;
  padding: 0 20px;
}

.about__social-links-icon {
  float: left;
  width: 70px;
  margin: 0 calc((100vw - 40px - (4 * 70px)) / 8);
}

/* About - media queries */

@media screen and (min-width: 1024px) {
  .about__hero {
    width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "about__img-container about__hero-text"
      "about__social-links about__hero-text";
  }

  .about__img-container {
    width: 500px;
    padding: 0;
    grid-area: about__img-container;
  }

  .about__hero-text {
    padding: 0;
    grid-area: about__hero-text;
  }

  .about__social-links {
    grid-area: about__social-links;
    width: 500px;
    margin: 0;
  }

  .about__social-links-icon {
    float: left;
    margin: 0;
    margin-left: 40px;
  }

  .about__social-links-icon--first {
    margin: 0;
  }
}

/* global */

@media screen and (min-width: 769px) {
  .mobile-layout {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop-layout {
    display: none;
  }
}
