.author {
  width: 257px;
  height: 53px;
  background-color: #efefef;
  border-radius: 200px;
  padding: 3px;
  display: flex;
  margin-right: 2rem;
  margin-bottom: 1rem;
  .authorImage {
    width: 47px;
    height: 47px;
    margin-right: 6px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
  }
  .authorDesc {
    font-weight: bold;
  }
  .authorName {
    margin-top: 5px;
    margin-bottom: 1px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }
  .lastParagraph {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    mix-blend-mode: normal;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 720px) {
  .author {
    width: 210px;
    height: 50px;
  }
  .authorImage {
    width: 44px !important;
    height: 44px !important;
  }
}