.footerContainer {
  margin-top: 120px;
  padding: 0 calc((100vw - 1370px) / 2) 0 calc((100vw - 1250px) / 2);
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .logoContainer {
    margin-top: 1rem;
  }
  .linksContainer {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 2;
    margin-top: 1rem;
    padding-left: 5rem;
  }
  .logoPara {
    width: 191px;
    margin-top: 10px;
    text-align: center;
  }
  .linksPara {
    padding: 4px 0 5px 0;
    font-size: 18px;
  }
  .firstLi {
    padding-bottom: 2px;
  }
  .otherLi {
    padding: 2px 0;
  }
  a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
  }
  .copyright {
    width: 191px;
    margin-top: 50px;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  strong {
    font-weight: 700;
  }
  .footerImageContainer {
    display: flex;
    justify-content: center;
  }
  .footerImage {
    display: block;
    height: 180px;
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .footerContainer {
    margin-top: 40px;
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .linksContainer {
      width: 100%;
      margin-bottom: 2rem;
      padding-left: 2rem;
      justify-content: space-around;
    }
    .menuColumn {
      width: 40%;
      padding: 0.5rem;
      margin: 0.7rem;
    }
    .logoContainer {
      width: 70%;
      margin: 0 auto;
      text-align: center;
    }
    .logoPara {
      margin: 0 auto;
      margin-top: 10px;
    }
    .linksPara {
      padding-bottom: 2px;
    }
    .copyright {
      margin: 0 auto;
      margin-top: 1px;
    }
    .footerImageContainer {
      margin-top: -2rem;
    }
  }
}
