.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  line-height: 58px;
  color: #444;
  box-shadow: 0px 1px 10px #999;
  background: #fff;
  z-index: 1000;
  padding: 2px calc((100vw - 1250px) / 2) 0 calc((100vw - 1250px) / 2);
  .headerMenuLogo {
    position: relative;
    top: 7px;
    cursor: pointer;
  }
  .logoContainer {
    margin-top: -1rem;
  }
  .buttonContainer {
    margin-right: -5rem;
  }
  .linksContainer {
    display: flex;
    justify-content: flex-end;
  }
  .linkContainer {
    padding: 0 40px;
  }
  .link {
    text-decoration: none;
    color: #444;
    font-weight: 500;
  }
  .sidebar {
    display: none;
  }
  .sidebarLink {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    color: #444;
    background: #fff;
    z-index: 1000;
    padding: 0rem 2rem;
    line-height: 28px;
    .linksContainer {
      display: none;
    }
    .buttonContainer {
      display: none;
    }
    .Menu {
      display: block;
      width: 2.7rem;
      height: 3.5rem;
      padding-top: 8px;
    }
    .burgerMenuBar {
      width: 90%;
      height: 0.4rem;
      background-color: gray;
      margin: 5px;
    }
    .crossButton {
      font-weight: 700;
      position: absolute;
      top: 15px;
      right: 18px;
      font-size: 1rem;
      margin-left: 50px;
    }
    .sidebar {
      display: block;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      top: 55px;
      left: 0;
      background-color: #fff;
      overflow-x: hidden;
      transition: 0.5s;
      padding: 2rem 0;
    }
    .open {
      padding: 2rem;
      width: 92% !important;
    }
    .linkContainer {
      font-size: 1.3rem;
      padding: 1rem 0.9rem;
      border-radius: 5px;
    }
  }
}
