.stepper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.stepWithLabelAndConnection {
  width: 100%;
}

.stepWithConnection {
  display: flex;
  flex-direction: row;
}

.stepContainerConnection {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.stepConnection {
  flex: 1;
  height: 1px;
  background-color: gray;

  @media screen and (max-width: 720px) {
    display: none;
  }
}