.ethereumTransaction {
  font-family: Montserrat, Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 30px;
  padding: 0 50px;
  border-radius: 10px;
  font-size: 25px;
  color: #444;
  background: url(../../../public/etherscan-bg.png) no-repeat #a6ffcc;

  &:hover {
    cursor: pointer;
  }
}