.blogInfo {
  margin-bottom: 5rem;
  margin: 0 auto;
  width: 85%;
  .heading {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 78px;
    color: #000000;
  }
  .topic {
    margin-left: 0.2rem;
    font-size: 1rem;
    color: #4fc2e9;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .resume {
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 57px;
    color: #000000;
  }
  .category {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #12C2E9;
    text-transform: uppercase;
  }
  hr {
    margin-top: 0;
    border-top: 1px solid black;
  }
  .authors {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  .blogInfo {
    .heading {
      font-size: 30px;
      line-height: 37px;
      padding-bottom: 12px;
    }
    .category {
      font-size: 12px;
      line-height: 15px;
    }
    .authors {
      flex-direction: column;
    }
    .resume {
      font-size: 23px;
      line-height: 28px;
      padding-bottom: 28px;
    }
  }
}
