.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 21rem;
  width: 80%;
  padding: 2rem;
}

@media screen and (max-width: 720px) {
  .blogs {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    margin-top: 28rem;
  }
}
