.container {
  font-size: 1.2rem;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  .blogCover {
    width: 80%;
    margin-left: 10%;
  }
  .coverDescription {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: #888888;
    margin-top: 20px;
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin-top: -50px;
    width: 100%;
  }
  .blogCover {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .coverDescription {
    font-size: 14px !important;
    line-height: 18px !important;
    margin-top: 5px !important;
    margin-bottom: 38px !important;
  }
}
