.container {
  font-size: 1.2rem;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  .blogCover {
    width: 100%;
    height: 35rem;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin-top: -50px;
    width: 85%;
  }
}
