.recoverPhoneContainer {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  word-spacing: 0.3rem;
  width: 100%;
  margin: 0rem auto;
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
  li {
    list-style-type: decimal !important;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  h1 {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1.8rem;
    margin: 2rem 0 1.5rem 0;
  }
  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .section2 h3 {
    font-weight: 600;
  }
  p {
    margin-bottom: 0.8rem;
  }
  .section-4 h3 {
    margin: 4rem 0 2rem;
  }
  .section-4 h4 {
    margin: 1rem 0;
    font-size: 1.3rem;
  }
  .heroSection {
    margin-bottom: 2rem;
  }
  li p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
