.recoverPhoneContainer {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  word-spacing: 0.3rem;
  width: 100%;
  margin: 0rem auto;
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
  ul li {
    list-style-type: disc;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
  ul.decimal li {
    list-style-type: decimal;
  }
  ul.none li {
    list-style-type: none;
  }
  h1 {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1.8rem;
    margin: 2rem 0 1.5rem 0;
    font-weight: 600;
  }
  h3 {
    font-size: 1.5rem;
    margin: 3rem 0;
  }
  .section2 h3 {
    font-weight: 600;
  }
  p {
    margin-bottom: 0.8rem;
  }
  .section-4 h3 {
    margin: 4rem 0 2rem;
  }
  .section-4 h4 {
    margin: 1rem 0;
    font-size: 1.3rem;
  }
  .heroSection {
    margin-bottom: 2rem;
  }
  li p {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .recover-image {
    width: 100%;
    max-height: 40rem;
    object-fit: contain;
    margin-bottom: 2rem;
  }
  .bluetooth-image {
    max-height: 15rem;
  }

  p.image-prescription {
    margin-top: -1.5rem;
    margin-left: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #888888;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  a {
    color: #007bff;
  }
}

@media screen and (max-width: 720px) {
  .recoverPhoneContainer {
    font-size: 14px;
    word-spacing: 0;
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 22px;
      margin: 1.5rem 0;
    }
    .section-4 h4 {
      font-size: 19px;
    }
    li p {
      font-size: 14px;
      font-weight: 400;
    }
    p.image-prescription {
      font-size: 14px;
    }
    ul.small-header li {
      font-size: 14px;
    }
  }
}
