.timeInfo {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(92, 92, 92, 0.6);
  mix-blend-mode: darken;
}
