@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* global */

@media screen and (min-width: 769px) {
  .mobile-layout {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop-layout {
    display: none;
  }
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.additionalClassForHead {
  padding: 5px 0;
  background: #fff !important;
  color: #444 !important;
  font-weight: 300 !important;
}
.additionalClassForHeadMobile {
  padding: 5px 0;
  background: #fff !important;
  color: #444 !important;
  font-weight: 300 !important;
}
.additionalClassForHead h3 {
  font-family: Montserrat;
  font-size: 22px !important;
  font-weight: 200 !important;
  margin: 0;
  padding: 0;
}
.additionalClassForHeadMobile h3 {
  font-family: Montserrat;
  font-size: 18px !important;
  font-weight: 200 !important;
  margin: 0;
  padding: 0;
}
.additionalClassForHead:hover,
.active-accordion {
  color: #444 !important;
  background: #fff !important;
}
.additionalClassForHeadMobile:hover,
.active-accordion {
  color: #444 !important;
  background: #fff !important;
}
.additionalClassForContent {
  background: #fff !important;
  margin: 0 !important;
  padding: 17px 0 !important;
  line-height: 24px !important;
}
.additionalClassForContent p {
  padding: 7px 0;
}

/* ####################################################### */

.new-button {
  width: 100%;
  background: #a6ffcb;
  color: #14213d;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #a6ffcb;
  box-shadow: 0px 0px 10px #a6ffcb;
  border-radius: 10px;
  line-height: 48px;
  cursor: pointer;
}
.new-button:disabled {
  background: #efefef !important ;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 10px #efefef;
  cursor: auto;
}

.pending {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 30px;
  background: url(/etherscan-bg.png) no-repeat #a6ffcc;
}

.pendingBox :hover {
  cursor: pointer;
}

/* / Chrome, Safari, Edge, Opera / */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* / Firefox / */
input[type='number'] {
  -moz-appearance: textfield;
}

.pdetails {
  font-weight: 300 !important;
  font-size: 16px !important;
}

@media only screen and (max-width: 992px) {
  .hideOnMobile .MuiStepLabel-labelContainer {
    display: none !important;
  }
}

body,
html {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  color: #444;
}

.p-indent {
  text-indent: 14px;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .blog {
    margin-bottom: 1rem;
    width: 45%;
  }
}

@media screen and (min-width: 1025px) {
  .blog {
    width: 30%;
  }
}

.escrow-container h1,
h2 {
  font-weight: 500;
  margin: 2rem 0;
}

/* About */

.about__hero {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__hero-text {
  padding: 3rem 2rem;
  text-align: justify;
}

.img-container img {
  width: 100vw;
}

.social-links ul {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.social-links ul li {
  margin: 1rem;
}

.about__hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'about__img-container'
    'about__hero-text'
    'about__social-links';
}

.about__img-container {
  width: 100vw;
  grid-area: about__img-container;
}

.about__hero-text {
  grid-area: about__hero-text;
}

.about__social-links {
  grid-area: about__social-links;
  width: 100vw;
  padding: 0 20px;
}

.about__social-links li {
  list-style-type: none;
}

.about__social-links-icon {
  float: left;
  width: 70px;
  margin: 0 calc((100vw - 40px - (4 * 70px)) / 8);
}

/* About - media queries */

@media screen and (max-width: 720px) {
  .about__hero {
    margin-top: -6rem;
  }
}

@media screen and (min-width: 1024px) {
  .about__hero {
    width: 1250px;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'about__img-container about__hero-text'
      'about__social-links about__hero-text';
  }

  .about__img-container {
    width: 500px;
    padding: 0;
    grid-area: about__img-container;
  }

  .about__hero-text {
    padding: 0;
    grid-area: about__hero-text;
  }

  .about__social-links {
    grid-area: about__social-links;
    width: 500px;
    margin: 0;
  }

  .about__social-links-icon {
    float: left;
    margin: 0;
    margin-left: 40px;
  }

  .about__social-links-icon--first {
    margin: 0;
  }
}

/* global */

@media screen and (min-width: 769px) {
  .mobile-layout {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop-layout {
    display: none;
  }
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.additionalClassForHead {
  padding: 5px 0;
  background: #fff !important;
  color: #444 !important;
  font-weight: 300 !important;
}
.additionalClassForHeadMobile {
  padding: 5px 0;
  background: #fff !important;
  color: #444 !important;
  font-weight: 300 !important;
}
.additionalClassForHead h3 {
  font-family: Montserrat;
  font-size: 22px !important;
  font-weight: 200 !important;
  margin: 0;
  padding: 0;
}
.additionalClassForHeadMobile h3 {
  font-family: Montserrat;
  font-size: 18px !important;
  font-weight: 200 !important;
  margin: 0;
  padding: 0;
}
.additionalClassForHead:hover,
.active-accordion {
  color: #444 !important;
  background: #fff !important;
}
.additionalClassForHeadMobile:hover,
.active-accordion {
  color: #444 !important;
  background: #fff !important;
}
.additionalClassForContent {
  background: #fff !important;
  margin: 0 !important;
  padding: 17px 0 !important;
  line-height: 24px !important;
}
.additionalClassForContent p {
  padding: 7px 0;
}

/* ####################################################### */

.new-button {
  width: 100%;
  background: #a6ffcb;
  color: #14213d;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #a6ffcb;
  box-shadow: 0px 0px 10px #a6ffcb;
  border-radius: 10px;
  line-height: 48px;
  cursor: pointer;
}
.new-button:disabled {
  background: #efefef !important ;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 10px #efefef;
  cursor: auto;
}

.pending {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 30px;
  background: url(/etherscan-bg.png) no-repeat #a6ffcc;
}

.pendingBox :hover {
  cursor: pointer;
}

/* / Chrome, Safari, Edge, Opera / */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* / Firefox / */
input[type='number'] {
  -moz-appearance: textfield;
}

.pdetails {
  font-weight: 300 !important;
  font-size: 16px !important;
}

@media only screen and (max-width: 992px) {
  .hideOnMobile .MuiStepLabel-labelContainer {
    display: none !important;
  }
}

// Header
@media only screen and (min-width: 720px) {
  .header-menu__isTop {
    position: absolute !important;
    margin-top: 30px;
    box-shadow: 0 0 0 #fff !important;
    z-index: 1000;
  }
}

@media only screen and (max-width: 720px) {
  .header-menu__isTop {
    margin-top: 10px;
    margin-top: 0;
  }
}
